RESTART kernel prior to running after any changes to config files...

### import configuration and functions modules

In [1]:
%%time
import functions as f
import list_builder as lb
import pandas as pd

import numpy as np
np.set_printoptions(linewidth=120, edgeitems=10)

CPU times: user 444 ms, sys: 24 ms, total: 468 ms
Wall time: 472 ms

### build program files
dataframe pickle files: master, fur, sg(special group), active_each_month, order proposals, month percentage

dictionary pickle files: settings_dict, color_dict

pay data pickle files: pay_table_basic, pay_table_enhanced

pay data spreadsheet workbook: pay_table_data.xlsx (in reports folder)

#### note: add case study name after script name

In [2]:
%%time
%run build_program_files sample3

CPU times: user 2.54 s, sys: 28 ms, total: 2.57 s
Wall time: 2.57 s

### skeleton

In [3]:
%%time
%run make_skeleton

CPU times: user 888 ms, sys: 180 ms, total: 1.07 s
Wall time: 1.03 s

### standalone
standalone must be rerun after job level model change...

In [4]:
%%time
%run standalone prex

CPU times: user 2.49 s, sys: 396 ms, total: 2.88 s
Wall time: 2.8 s

### calculate for each list order
(including list conditions, job count changes, and possible furlough recall schedule)

The cells below run the compute_measures script with proposals p1, p2, and p3.  All scenarios include a "prex" or pre-existing job assignment condition.  The first case includes a ratio condition and the second case includes a count-ratio condition.

In [5]:
%%time
%run compute_measures p1 prex ratio

CPU times: user 1.55 s, sys: 340 ms, total: 1.89 s
Wall time: 1.79 s

In [6]:
%%time
%run compute_measures p2 prex count

CPU times: user 1.51 s, sys: 344 ms, total: 1.86 s
Wall time: 1.76 s

In [7]:
%%time
%run compute_measures p3 prex

CPU times: user 1.42 s, sys: 416 ms, total: 1.84 s
Wall time: 1.72 s

### merge an ordered list with the master list

In [14]:
%%time
%run join_inactives p3 ffill

CPU times: user 2.22 s, sys: 8 ms, total: 2.22 s
Wall time: 2.22 s

In [15]:
%%time
f.print_config_selections()

CPU times: user 8 ms, sys: 0 ns, total: 8 ms
Wall time: 5.57 ms

                                                 setting
option
add_doh_col                                            1
add_eg_col                                             1
add_ldate_col                                          1
add_line_col                                           1
add_lname_col                                          1
add_ret_mark                                           1
add_retdate_col                                        1
add_sg_col                                             1
annual_pcnt_raise                                   0.02
case_study                                       sample3
compute_job_category_order                             1
compute_pay_measures                                   1
compute_with_job_changes                               1
count_dist                                         split
count_final_month                                      0
date_exception_end                   2014-12-31 00:00:00
date_exception_start                 2014-12-31 00:00:00
delayed_implementation                                 1
discount_longev_for_fur                                1
end_date                                               0
enhanced_jobs                                          1
enhanced_jobs_full_suffix                              B
enhanced_jobs_part_suffix                              R
future_raise                                           0
imp_date                             2016-10-31 00:00:00
imp_month                                             34
implementation_date                  2016-10-31 00:00:00
init_ret_age                                          65
init_ret_age_months                                    0
init_ret_age_years                                    65
int_job_counts                                         0
job_levels_basic                                       8
job_levels_enhanced                                   16
last_contract_year                                  2019
lspcnt_calc_on_remaining_population                    0
no_bump                                                1
num_of_job_levels                                     16
pay_table_exception_year                          2014.1
pay_table_longevity_sort                               7
pay_table_year_sort                                 2018
ratio_dist                                         split
recall                                                 1
ret_age                                               65
ret_age_increase                                       0
save_to_pickle                                         1
sg_dist                                             part
start                                2013-12-31 00:00:00
starting_date                        2013-12-31 00:00:00
stripplot_full_time_pcnt                               0
top_of_scale                                          12

### cells below for demonstration only

### build a 'hybrid' list example:
(stored as 'dill/hybrid.pkl')

In [16]:
%%time
# this will build a "hybrid" list with equal weighting given to longevity and standalone job position
master = lb.prepare_master_list()
lb.build_list(master, ['ldate', 'jobp'], [.5, .5])

CPU times: user 124 ms, sys: 0 ns, total: 124 ms
Wall time: 124 ms

In [17]:
%%time
# generate dataset for the hybrid list
%run compute_measures hybrid prex

CPU times: user 1.49 s, sys: 236 ms, total: 1.72 s
Wall time: 1.63 s

### sample of files created

In [18]:
%%time
# print only the first 5 lines of each file
case_study = pd.read_pickle('dill/case_dill.pkl').case.value
file_names = ['master', 'skeleton', 'standalone', 'p_p1', 'pay_table_enhanced', 'pay_table_basic', 'ds_p1', 'p_hybrid', case_study + '_final']
for file in file_names:
    try:
        df = pd.read_pickle('dill/' + file + '.pkl')
        print('< ' + file.upper() + ' >', '\n', 'row count: ' + str(len(df)),
            '\n', 'column count: '+ str(len(df.columns)), '\n',
            df.columns, '\n',
            '\n', df.head().to_string(line_width=120), '\n\n', '-' * 80, '\n')
    except:
        pass

< MASTER >
 row count: 7510
 column count: 11
 Index(['empkey', 'eg', 'lname', 'dob', 'doh', 'ldate', 'sg', 'fur', 'line',
       'eg_order', 'retdate'],
      dtype='object')

             empkey  eg    lname        dob        doh      ldate  sg  fur  line  eg_order    retdate
empkey
10011102  10011102   1  tooeyoo 1949-07-13 1973-02-26 1975-01-29   0    0     1         1 2014-07-13
10010475  10010475   1  rubelot 1949-02-05 1975-05-27 1975-05-27   0    0     1         2 2014-02-05
10013096  10013096   1  yeloxid 1949-01-08 1977-01-18 1977-01-18   0    0     1         3 2014-01-08
10012178  10012178   1  xayeaue 1951-06-07 1977-11-15 1977-11-15   0    0     1         4 2016-06-07
10014447  10014447   1  finuceu 1951-10-17 1977-12-09 1977-12-09   0    0     1         5 2016-10-17

 --------------------------------------------------------------------------------

< SKELETON >
 row count: 930850
 column count: 19
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'fur',
       'eg', 'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'ret_mark',
       'scale', 's_lmonths', 'age'],
      dtype='object')

           mnum  idx    empkey  mth_pcnt       date    year  pay_raise  fur  eg    retdate        doh      ldate  \
empkey
10011102     0    0  10011102       1.0 2013-12-31  2013.0        1.0    0   1 2014-07-13 1973-02-26 1975-01-29
10010475     0    1  10010475       1.0 2013-12-31  2013.0        1.0    0   1 2014-02-05 1975-05-27 1975-05-27
10013096     0    2  10013096       1.0 2013-12-31  2013.0        1.0    0   1 2014-01-08 1977-01-18 1977-01-18
10012178     0    3  10012178       1.0 2013-12-31  2013.0        1.0    0   1 2016-06-07 1977-11-15 1977-11-15
10014447     0    4  10014447       1.0 2013-12-31  2013.0        1.0    0   1 2016-10-17 1977-12-09 1977-12-09

            lname  line  sg  ret_mark  scale  s_lmonths        age
empkey
10011102  tooeyoo     1   0         0     12        467  64.465054
10010475  rubelot     1   0         0     12        463  64.903226
10013096  yeloxid     1   0         0     12        443  64.978495
10012178  xayeaue     1   0         0     12        433  62.564516
10014447  finuceu     1   0         0     12        432  62.204301

 --------------------------------------------------------------------------------

< STANDALONE >
 row count: 930850
 column count: 34
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'fur',
       'eg', 'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'ret_mark',
       'scale', 's_lmonths', 'age', 'held', 'job_count', 'orig_job', 'jnum',
       'lnum', 'lspcnt', 'snum', 'spcnt', 'rank_in_job', 'jobp', 'mlong',
       'ylong', 'mpay', 'cpay', 'cat_order'],
      dtype='object')

           mnum  idx    empkey  mth_pcnt       date    year  pay_raise  fur  eg    retdate        doh      ldate  \
empkey
10011102     0    0  10011102       1.0 2013-12-31  2013.0        1.0    0   1 2014-07-13 1973-02-26 1975-01-29
10010475     0    1  10010475       1.0 2013-12-31  2013.0        1.0    0   1 2014-02-05 1975-05-27 1975-05-27
10013096     0    2  10013096       1.0 2013-12-31  2013.0        1.0    0   1 2014-01-08 1977-01-18 1977-01-18
10012178     0    3  10012178       1.0 2013-12-31  2013.0        1.0    0   1 2016-06-07 1977-11-15 1977-11-15
10014447     0    4  10014447       1.0 2013-12-31  2013.0        1.0    0   1 2016-10-17 1977-12-09 1977-12-09

            lname  line  sg  ret_mark  scale  s_lmonths        age  held  job_count  orig_job  jnum  lnum    lspcnt  \
empkey
10011102  tooeyoo     1   0         0     12        467  64.465054     0        118         0     1     1  0.000235
10010475  rubelot     1   0         0     12        463  64.903226     0        118         0     1     2  0.000470
10013096  yeloxid     1   0         0     12        443  64.978495     0        118         0     1     3  0.000705
10012178  xayeaue     1   0         0     12        433  62.564516     0        118         0     1     4  0.000940
10014447  finuceu     1   0         0     12        432  62.204301     0        118         0     1     5  0.001175

          snum     spcnt  rank_in_job      jobp  mlong      ylong     mpay     cpay  cat_order
empkey
10011102   1.0  0.000257            1  1.008475    468  39.000000  11.0415  11.0415   1.406780
10010475   2.0  0.000515            2  1.016949    464  38.666667  11.0415  11.0415   2.813559
10013096   3.0  0.000772            3  1.025424    444  37.000000  11.0415  11.0415   4.220339
10012178   4.0  0.001030            4  1.033898    434  36.166667  11.0415  11.0415   5.627119
10014447   5.0  0.001287            5  1.042373    433  36.083333  11.0415  11.0415   7.033898

 --------------------------------------------------------------------------------

< P_P1 >
 row count: 7510
 column count: 1
 Index(['idx'], dtype='object')

           idx
empkey
10011102    1
10010475    2
10013096    3
10012178    4
10014447    5

 --------------------------------------------------------------------------------

< PAY_TABLE_ENHANCED >
 row count: 1632
 column count: 1
 Index(['monthly'], dtype='object')

              monthly
ptindex
201300101.0  2152.20
201300102.0  1873.68
201300103.0  2152.20
201300104.0  2152.20
201300105.0  1873.68

 --------------------------------------------------------------------------------

< PAY_TABLE_BASIC >
 row count: 864
 column count: 1
 Index(['monthly'], dtype='object')

              monthly
ptindex
201300101.0  2050.92
201300102.0  2050.92
201300103.0  2050.92
201300104.0  2050.92
201300105.0  2050.92

 --------------------------------------------------------------------------------

< DS_P1 >
 row count: 930850
 column count: 35
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'fur',
       'eg', 'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'ret_mark',
       'scale', 's_lmonths', 'age', 'new_order', 'orig_job', 'jnum', 'fbff',
       'snum', 'spcnt', 'lnum', 'lspcnt', 'rank_in_job', 'job_count', 'jobp',
       'mlong', 'ylong', 'mpay', 'cpay', 'cat_order'],
      dtype='object')

           mnum  idx    empkey  mth_pcnt       date    year  pay_raise  fur  eg    retdate        doh      ldate  \
empkey
10011102     0    0  10011102       1.0 2013-12-31  2013.0        1.0    0   1 2014-07-13 1973-02-26 1975-01-29
10010475     0    1  10010475       1.0 2013-12-31  2013.0        1.0    0   1 2014-02-05 1975-05-27 1975-05-27
10013096     0    2  10013096       1.0 2013-12-31  2013.0        1.0    0   1 2014-01-08 1977-01-18 1977-01-18
10012178     0    3  10012178       1.0 2013-12-31  2013.0        1.0    0   1 2016-06-07 1977-11-15 1977-11-15
10014447     0    4  10014447       1.0 2013-12-31  2013.0        1.0    0   1 2016-10-17 1977-12-09 1977-12-09

            lname  line  sg  ret_mark  scale  s_lmonths        age  new_order  orig_job  jnum  fbff  snum     spcnt  \
empkey
10011102  tooeyoo     1   0         0     12        467  64.465054          1       0.0     1     1   1.0  0.000257
10010475  rubelot     1   0         0     12        463  64.903226          2       0.0     1     1   2.0  0.000515
10013096  yeloxid     1   0         0     12        443  64.978495          3       0.0     1     1   3.0  0.000772
10012178  xayeaue     1   0         0     12        433  62.564516          4       0.0     1     1   4.0  0.001030
10014447  finuceu     1   0         0     12        432  62.204301          5       0.0     1     1   5.0  0.001287

          lnum    lspcnt  rank_in_job  job_count      jobp  mlong      ylong     mpay     cpay  cat_order
empkey
10011102     1  0.000235            1        118  1.008475    468  39.000000  11.0415  11.0415   1.406780
10010475     2  0.000470            2        118  1.016949    464  38.666667  11.0415  11.0415   2.813559
10013096     3  0.000705            3        118  1.025424    444  37.000000  11.0415  11.0415   4.220339
10012178     4  0.000940            4        118  1.033898    434  36.166667  11.0415  11.0415   5.627119
10014447     5  0.001175            5        118  1.042373    433  36.083333  11.0415  11.0415   7.033898

 --------------------------------------------------------------------------------

< P_HYBRID >
 row count: 6415
 column count: 1
 Index(['idx'], dtype='object')

           idx
empkey
10011102    1
10010475    2
20010692    3
10013096    4
20011034    5

 --------------------------------------------------------------------------------

CPU times: user 208 ms, sys: 108 ms, total: 316 ms
Wall time: 311 ms