RESTART kernel prior to running after any changes to config files...

### import configuration and functions modules

In [1]:
%%time
import config as cf
import functions as f
from list_builder import prepare_master_list, build_list

CPU times: user 448 ms, sys: 40 ms, total: 488 ms
Wall time: 611 ms

### build pkl files
master, fur, sg(special group), active_each_month, order proposals, month percentage

In [2]:
%%time
%run build_program_files

CPU times: user 1.48 s, sys: 12 ms, total: 1.49 s
Wall time: 1.5 s

### build compensation tables
convert from input Excel file, detects config sample_mode if selected

In [4]:
%%time
%run make_pay_tables_from_excel

CPU times: user 128 ms, sys: 0 ns, total: 128 ms
Wall time: 126 ms

### skeleton

In [5]:
%%time
%run make_skeleton master

CPU times: user 1.28 s, sys: 180 ms, total: 1.46 s
Wall time: 1.62 s

### standalone
standalone must be rerun after job level model change...

In [6]:
%%time
%run standalone prex

CPU times: user 2.34 s, sys: 412 ms, total: 2.76 s
Wall time: 2.87 s

### calculate for each list order
(including list conditions, job count changes, and possible furlough recall schedule)

In [7]:
%%time
%run compute_measures p1 prex ratio

CPU times: user 1.65 s, sys: 352 ms, total: 2 s
Wall time: 2.13 s

In [8]:
%%time
%run compute_measures p2 prex count

CPU times: user 1.85 s, sys: 352 ms, total: 2.2 s
Wall time: 2.54 s

In [9]:
%%time
%run compute_measures p3 prex

CPU times: user 1.76 s, sys: 300 ms, total: 2.06 s
Wall time: 2.25 s

In [ ]:
%%time
#%run compute_measures award prex count

### merge an ordered list with the master list

In [10]:
%%time
%run join_inactives master p3 final ffill

            empkey  eg    lname        dob        doh      ldate  sg  fur  \
empkey
10011102  10011102   1  tooeyoo 1949-07-13 1973-02-26 1975-01-29   0    0
10010475  10010475   1  rubelot 1949-02-05 1975-05-27 1975-05-27   0    0
10013096  10013096   1  yeloxid 1949-01-08 1977-01-18 1977-01-18   0    0
10012178  10012178   1  xayeaue 1951-06-07 1977-11-15 1977-11-15   0    0
10014447  10014447   1  finuceu 1951-10-17 1977-12-09 1977-12-09   0    0

          line  eg_order    retdate  idx
empkey
10011102     1         1 2014-07-13    1
10010475     1         2 2014-02-05    2
10013096     1         3 2014-01-08    3
10012178     1         4 2016-06-07    6
10014447     1         5 2016-10-17    7
CPU times: user 2.16 s, sys: 8 ms, total: 2.16 s
Wall time: 2.17 s

In [11]:
%%time
f.print_config_selections()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 2.35 ms

                                        setting
option
annual_pcnt_raise                          0.02
case_study                              sample3
compute_job_category_order                 True
compute_pay_measures                       True
compute_with_job_changes                   True
delayed_implementation                     True
discount_longev_for_fur                    True
enhanced_jobs                              True
full_time_pcnt1                             0.6
full_time_pcnt2                            0.65
implementation_date                  2016-10-31
lspcnt_calc_on_remaining_population       False
no_bump                                    True
num_of_job_levels                            16
pay_raise                                 False
recall                                     True
ret_age                                      65
starting_date                        2013-12-31
top_of_scale                                 12

### cells below for demonstration only

### build a 'hybrid' list example:
(stored as 'dill/hybrid.pkl')

In [12]:
%%time
# this will build a "hybrid" list with equal weighting given to longevity and standalone job position
master = prepare_master_list()
build_list(master, ['ldate', 'jobp'], [.5, .5])

CPU times: user 168 ms, sys: 12 ms, total: 180 ms
Wall time: 177 ms

In [13]:
%%time
# generate dataset for the hybrid list
%run compute_measures hybrid prex

CPU times: user 1.63 s, sys: 368 ms, total: 2 s
Wall time: 2.13 s

### sample of files created

In [14]:
%%time
# print only the first 5 lines of each file
file_names = ['master', 'skeleton', 'standalone', 'p_p1', 'pay_table_enhanced', 'ds_p1', 'p_hybrid', cf.case_study + '_final']
for file in file_names:
    df = pd.read_pickle('dill/' + file + '.pkl')
    print('< ' + file.upper() + ' >', '\n', 'row count: ' + str(len(df)),
        '\n', 'column count: '+ str(len(df.columns)), '\n',
        df.columns, '\n',
        '\n', df.head().to_string(line_width=120), '\n\n', '-' * 80, '\n')

< MASTER >
 row count: 7510
 column count: 11
 Index(['empkey', 'eg', 'lname', 'dob', 'doh', 'ldate', 'sg', 'fur', 'line',
       'eg_order', 'retdate'],
      dtype='object')

             empkey  eg    lname        dob        doh      ldate  sg  fur  line  eg_order    retdate
empkey
10011102  10011102   1  tooeyoo 1949-07-13 1973-02-26 1975-01-29   0    0     1         1 2014-07-13
10010475  10010475   1  rubelot 1949-02-05 1975-05-27 1975-05-27   0    0     1         2 2014-02-05
10013096  10013096   1  yeloxid 1949-01-08 1977-01-18 1977-01-18   0    0     1         3 2014-01-08
10012178  10012178   1  xayeaue 1951-06-07 1977-11-15 1977-11-15   0    0     1         4 2016-06-07
10014447  10014447   1  finuceu 1951-10-17 1977-12-09 1977-12-09   0    0     1         5 2016-10-17

 --------------------------------------------------------------------------------

< SKELETON >
 row count: 930850
 column count: 19
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'fur',
       'eg', 'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'ret_mark',
       'scale', 's_lmonths', 'age'],
      dtype='object')

           mnum  idx    empkey  mth_pcnt       date    year  pay_raise  fur  eg    retdate        doh      ldate  \
empkey
10011102     0    0  10011102       1.0 2013-12-31  2013.0        1.0    0   1 2014-07-13 1973-02-26 1975-01-29
10010475     0    1  10010475       1.0 2013-12-31  2013.0        1.0    0   1 2014-02-05 1975-05-27 1975-05-27
10013096     0    2  10013096       1.0 2013-12-31  2013.0        1.0    0   1 2014-01-08 1977-01-18 1977-01-18
10012178     0    3  10012178       1.0 2013-12-31  2013.0        1.0    0   1 2016-06-07 1977-11-15 1977-11-15
10014447     0    4  10014447       1.0 2013-12-31  2013.0        1.0    0   1 2016-10-17 1977-12-09 1977-12-09

            lname  line  sg  ret_mark  scale  s_lmonths        age
empkey
10011102  tooeyoo     1   0         0     12        467  64.465054
10010475  rubelot     1   0         0     12        463  64.903226
10013096  yeloxid     1   0         0     12        443  64.978495
10012178  xayeaue     1   0         0     12        433  62.564516
10014447  finuceu     1   0         0     12        432  62.204301

 --------------------------------------------------------------------------------

< STANDALONE >
 row count: 930850
 column count: 32
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'fur',
       'eg', 'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'ret_mark',
       'scale', 's_lmonths', 'age', 'held', 'job_count', 'orig_job', 'jnum',
       'lnum', 'lspcnt', 'snum', 'spcnt', 'rank_in_job', 'jobp', 'mpay',
       'cpay', 'cat_order'],
      dtype='object')

           mnum   idx    empkey  mth_pcnt       date    year  pay_raise  fur  eg    retdate        doh      ldate  \
empkey
10011102     0     0  10011102       1.0 2013-12-31  2013.0        1.0    0   1 2014-07-13 1973-02-26 1975-01-29
20010692     0  4256  20010692       1.0 2013-12-31  2013.0        1.0    0   2 2016-03-04 1974-04-16 1975-04-25
30010651     0  5705  30010651       1.0 2013-12-31  2013.0        1.0    0   3 2019-02-17 1983-06-14 1983-06-14
10010475     0     1  10010475       1.0 2013-12-31  2013.0        1.0    0   1 2014-02-05 1975-05-27 1975-05-27
20011034     0  4257  20011034       1.0 2013-12-31  2013.0        1.0    0   2 2014-07-15 1977-03-12 1977-03-12

            lname  line  sg  ret_mark  scale  s_lmonths        age  held  job_count  orig_job  jnum  lnum    lspcnt  \
empkey
10011102  tooeyoo     1   0         0     12        467  64.465054     0        118         0     1     1  0.000235
20010692  eafeuir     1   0         0     12        464  62.822581     0         48         0     1     1  0.000690
30010651    vuout     1   0         0     12        366  59.870968     0         16         0     3     1  0.001408
10010475  rubelot     1   0         0     12        463  64.903226     0        118         0     1     2  0.000470
20011034  cibofen     1   0         0     12        441  64.459677     0         48         0     1     2  0.001380

          snum     spcnt  rank_in_job      jobp     mpay     cpay  cat_order
empkey
10011102   1.0  0.000257            1  1.008375  11.0415  11.0415        1.0
20010692   1.0  0.000689            1  1.020733  11.0415  11.0415        3.0
30010651   1.0  0.001458            1  3.062400   9.3840   9.3840      299.0
10010475   2.0  0.000515            2  1.016849  11.0415  11.0415        2.0
20011034   2.0  0.001378            2  1.041567  11.0415  11.0415        6.0

 --------------------------------------------------------------------------------

< P_P1 >
 row count: 7510
 column count: 1
 Index(['idx'], dtype='object')

           idx
empkey
10011102    1
10010475    2
10013096    3
10012178    4
10014447    5

 --------------------------------------------------------------------------------

< PAY_TABLE_ENHANCED >
 row count: 1632
 column count: 1
 Index(['monthly'], dtype='object')

              monthly
ptindex
201300101.0  2152.20
201300102.0  1873.68
201300103.0  2152.20
201300104.0  2152.20
201300105.0  1873.68

 --------------------------------------------------------------------------------

< DS_P1 >
 row count: 930850
 column count: 36
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'fur',
       'eg', 'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'ret_mark',
       'scale', 's_lmonths', 'age', 'new_order', 'orig_job', 'func_job',
       'jnum', 'fbff', 'snum', 'spcnt', 'lnum', 'lspcnt', 'rank_in_job',
       'job_count', 'jobp', 'cat_order', 'mlong', 'ylong', 'mpay', 'cpay'],
      dtype='object')

           mnum  idx    empkey  mth_pcnt       date    year  pay_raise  fur  eg    retdate        doh      ldate  \
empkey
10011102     0    0  10011102       1.0 2013-12-31  2013.0        1.0    0   1 2014-07-13 1973-02-26 1975-01-29
10010475     0    1  10010475       1.0 2013-12-31  2013.0        1.0    0   1 2014-02-05 1975-05-27 1975-05-27
10013096     0    2  10013096       1.0 2013-12-31  2013.0        1.0    0   1 2014-01-08 1977-01-18 1977-01-18
10012178     0    3  10012178       1.0 2013-12-31  2013.0        1.0    0   1 2016-06-07 1977-11-15 1977-11-15
10014447     0    4  10014447       1.0 2013-12-31  2013.0        1.0    0   1 2016-10-17 1977-12-09 1977-12-09

            lname  line  sg  ret_mark  scale  s_lmonths        age  new_order  orig_job  func_job  jnum  fbff  snum  \
empkey
10011102  tooeyoo     1   0         0     12        467  64.465054          1       1.0         1     1     1   1.0
10010475  rubelot     1   0         0     12        463  64.903226          2       1.0         1     1     1   2.0
10013096  yeloxid     1   0         0     12        443  64.978495          3       1.0         1     1     1   3.0
10012178  xayeaue     1   0         0     12        433  62.564516          4       1.0         1     1     1   4.0
10014447  finuceu     1   0         0     12        432  62.204301          5       1.0         1     1     1   5.0

             spcnt  lnum    lspcnt  rank_in_job  job_count      jobp  cat_order  mlong      ylong     mpay     cpay
empkey
10011102  0.000166     1  0.000156            1        166  1.005024        1.0    468  39.000000  11.0415  11.0415
10010475  0.000332     2  0.000312            2        166  1.011048        2.0    464  38.666667  11.0415  11.0415
10013096  0.000498     3  0.000468            3        166  1.017072        4.0    444  37.000000  11.0415  11.0415
10012178  0.000664     4  0.000624            4        166  1.023096        5.0    434  36.166667  11.0415  11.0415
10014447  0.000830     5  0.000779            5        166  1.029120        7.0    433  36.083333  11.0415  11.0415

 --------------------------------------------------------------------------------

< P_HYBRID >
 row count: 6415
 column count: 1
 Index(['idx'], dtype='object')

           idx
empkey
10011102    1
10010475    2
20010692    3
10013096    4
20011034    5

 --------------------------------------------------------------------------------

< SAMPLE3_FINAL >
 row count: 7510
 column count: 12
 Index(['empkey', 'eg', 'lname', 'dob', 'doh', 'ldate', 'sg', 'fur', 'line',
       'eg_order', 'retdate', 'snum'],
      dtype='object')

             empkey  eg    lname        dob        doh      ldate  sg  fur  line  eg_order    retdate  snum
empkey
10011102  10011102   1  tooeyoo 1949-07-13 1973-02-26 1975-01-29   0    0     1         1 2014-07-13     1
10010475  10010475   1  rubelot 1949-02-05 1975-05-27 1975-05-27   0    0     1         2 2014-02-05     2
10013096  10013096   1  yeloxid 1949-01-08 1977-01-18 1977-01-18   0    0     1         3 2014-01-08     3
20010692  20010692   2  eafeuir 1951-03-04 1974-04-16 1975-04-25   0    0     1         1 2016-03-04     4
20011034  20011034   2  cibofen 1949-07-15 1977-03-12 1977-03-12   0    0     1         2 2014-07-15     5

 --------------------------------------------------------------------------------

CPU times: user 220 ms, sys: 100 ms, total: 320 ms
Wall time: 319 ms