RESTART Prior to Running if any changes made in source files...

### import configuration and functions modules
list_builder also imported for the hybrid list creation example below

In [1]:
%%time
import config as cf
import functions as f
import list_builder as lb

CPU times: user 644 ms, sys: 56 ms, total: 700 ms
Wall time: 1.17 s

### build pkl files
master, fur, sg(special group), active_each_month, order proposals, month percentage, initial editor values

In [2]:
%%time
%run build_program_files

CPU times: user 2.36 s, sys: 96 ms, total: 2.45 s
Wall time: 2.37 s

### build compensation tables
convert from input Excel file, detects config sample_mode if selected

In [3]:
%%time
%run make_pay_tables_from_excel

CPU times: user 244 ms, sys: 0 ns, total: 244 ms
Wall time: 249 ms

### generate the skeleton file

In [4]:
%%time
%run make_skeleton master

CPU times: user 796 ms, sys: 128 ms, total: 924 ms
Wall time: 968 ms

### standalone
standalone must be rerun after job level model change (option is in the config file - enhanced or basic)...

In [5]:
%%time
if cf.compute_with_job_changes:
    %run standalone_with_job_changes skel
else:
    %run standalone_no_job_changes skel

CPU times: user 2.08 s, sys: 312 ms, total: 2.39 s
Wall time: 2.7 s

### Create dataset for each list order
(including list conditions, job count changes, and possible furlough recall schedule).
The p1, p2, and p3 inputs represent different list order proposals - source is the pickle files generated with the build_program_files script.
The "supc", "ratio", and "count" inputs represent conditional job assignment functions to be applied.

In [6]:
%%time
%run compute_measures p1 supc ratio

['supc', 'ratio']
CPU times: user 2 s, sys: 404 ms, total: 2.4 s
Wall time: 2.47 s

In [7]:
%%time
%run compute_measures p2 supc count

['supc', 'count']
CPU times: user 2.08 s, sys: 320 ms, total: 2.4 s
Wall time: 2.49 s

In [8]:
%%time
%run compute_measures p3 supc

['supc']
CPU times: user 1.98 s, sys: 332 ms, total: 2.31 s
Wall time: 2.54 s

### merge an ordered list with the master list

In [9]:
%%time
%run join_inactives master p1 final ffill

CPU times: user 2.19 s, sys: 8 ms, total: 2.2 s
Wall time: 2.2 s

### config file options viewer:

In [10]:
%%time
f.print_config_selections()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 2.52 ms

                                        setting
option
actives_only                              False
annual_pcnt_raise                          0.02
apply_count_cond                           True
apply_ratio_cond                           True
apply_supc                                 True
case_study                              sample3
compute_job_category_order                 True
compute_pay_measures                       True
delayed_implementation                     True
edit_mode                                 False
enhanced_jobs                              True
full_time_pcnt1                             0.6
full_time_pcnt2                            0.65
implementation_date                  2016-10-31
lspcnt_calc_on_remaining_population       False
no_bump                                    True
num_of_job_levels                            16
pay_raise                                 False
recall                                     True
starting_date                        2013-12-31
top_of_scale                                 12

## cells below for demonstration only

### build a 'hybrid' list example:
(stored as 'dill/hybrid.pkl')

In [11]:
%%time
prepared_master = lb.prepare_master_list()
lb.build_list(prepared_master, ['ldate', 'jobp'], [.5, .5])

CPU times: user 124 ms, sys: 0 ns, total: 124 ms
Wall time: 124 ms

### samples of files created

In [12]:
%%time
file_names = ['master', 'skel', 'stand', 'active_each_month', 'p1', 'pay_table_enhanced_with_fur_indexed', 'ds1', 'hybrid', cf.case_study + '_final']
for file in file_names:
    df = pd.read_pickle('dill/' + file + '.pkl')
    print('< ' + file.upper() + ' >', '\n', 'row count: ' + str(len(df)),
        '\n', 'column count: '+ str(len(df.columns)), '\n',
        df.columns, '\n',
        '\n', df.head(), '\n\n', '-' * 80, '\n')

< MASTER >
 row count: 7510
 column count: 11
 Index(['empkey', 'eg', 'lname', 'dob', 'retdate', 'doh', 'ldate', 'sg', 'fur',
       'line', 'eg_order'],
      dtype='object')

             empkey  eg    lname        dob    retdate        doh      ldate  \
empkey
10011102  10011102   1  tooeyoo 1949-07-13 2014-07-13 1973-02-26 1975-01-29
10010475  10010475   1  rubelot 1949-02-05 2014-02-05 1975-05-27 1975-05-27
10013096  10013096   1  yeloxid 1949-01-08 2014-01-08 1977-01-18 1977-01-18
10012178  10012178   1  xayeaue 1951-06-07 2016-06-07 1977-11-15 1977-11-15
10014447  10014447   1  finuceu 1951-10-17 2016-10-17 1977-12-09 1977-12-09

          sg  fur  line  eg_order
empkey
10011102   0    0     1         1
10010475   0    0     1         2
10013096   0    0     1         3
10012178   0    0     1         4
10014447   0    0     1         5

 --------------------------------------------------------------------------------

< SKEL >
 row count: 930850
 column count: 18
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'eg',
       'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'fur', 'scale',
       's_lmonths', 'age'],
      dtype='object')

           mnum  idx    empkey  mth_pcnt       date    year  pay_raise  eg  \
empkey
10011102     0    0  10011102       1.0 2013-12-31  2013.0        1.0   1
10010475     0    1  10010475       1.0 2013-12-31  2013.0        1.0   1
10013096     0    2  10013096       1.0 2013-12-31  2013.0        1.0   1
10012178     0    3  10012178       1.0 2013-12-31  2013.0        1.0   1
10014447     0    4  10014447       1.0 2013-12-31  2013.0        1.0   1

            retdate        doh      ldate    lname  line  sg  fur  scale  \
empkey
10011102 2014-07-13 1973-02-26 1975-01-29  tooeyoo     1   0    0     12
10010475 2014-02-05 1975-05-27 1975-05-27  rubelot     1   0    0     12
10013096 2014-01-08 1977-01-18 1977-01-18  yeloxid     1   0    0     12
10012178 2016-06-07 1977-11-15 1977-11-15  xayeaue     1   0    0     12
10014447 2016-10-17 1977-12-09 1977-12-09  finuceu     1   0    0     12

          s_lmonths        age
empkey
10011102        467  64.465054
10010475        463  64.903226
10013096        443  64.978495
10012178        433  62.564516
10014447        432  62.204301

 --------------------------------------------------------------------------------

< STAND >
 row count: 930850
 column count: 30
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'eg',
       'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'fur', 'scale',
       's_lmonths', 'age', 'held', 'job_count', 'orig_job', 'jnum', 'lnum',
       'lspcnt', 'snum', 'spcnt', 'rank_in_job', 'jobp', 'mpay', 'cpay'],
      dtype='object')

           mnum   idx    empkey  mth_pcnt       date    year  pay_raise  eg  \
empkey
10011102     0     0  10011102       1.0 2013-12-31  2013.0        1.0   1
20010692     0  4256  20010692       1.0 2013-12-31  2013.0        1.0   2
30010651     0  5705  30010651       1.0 2013-12-31  2013.0        1.0   3
10010475     0     1  10010475       1.0 2013-12-31  2013.0        1.0   1
20011034     0  4257  20011034       1.0 2013-12-31  2013.0        1.0   2

            retdate        doh   ...    orig_job jnum  lnum    lspcnt  snum  \
empkey                           ...
10011102 2014-07-13 1973-02-26   ...           0    1     1  0.000235   1.0
20010692 2016-03-04 1974-04-16   ...           0    1     1  0.000690   1.0
30010651 2019-02-17 1983-06-14   ...           0    3     1  0.001408   1.0
10010475 2014-02-05 1975-05-27   ...           0    1     2  0.000470   2.0
20011034 2014-07-15 1977-03-12   ...           0    1     2  0.001380   2.0

             spcnt  rank_in_job      jobp     mpay     cpay
empkey
10011102  0.000257            1  1.008375  11.0415  11.0415
20010692  0.000689            1  1.020733  11.0415  11.0415
30010651  0.001458            1  3.062400   9.3840   9.3840
10010475  0.000515            2  1.016849  11.0415  11.0415
20011034  0.001378            2  1.041567  11.0415  11.0415

[5 rows x 30 columns]

 --------------------------------------------------------------------------------

< ACTIVE_EACH_MONTH >
 row count: 453
 column count: 1
 Index(['count'], dtype='object')

    count
0   6052
1   6050
2   6039
3   6027
4   6017

 --------------------------------------------------------------------------------

< P1 >
 row count: 7510
 column count: 1
 Index(['idx'], dtype='object')

           idx
empkey
10011102    1
10010475    2
10013096    3
10012178    4
10014447    5

 --------------------------------------------------------------------------------

< PAY_TABLE_ENHANCED_WITH_FUR_INDEXED >
 row count: 1632
 column count: 1
 Index(['monthly'], dtype='object')

              monthly
ptindex
201300101.0  2152.20
201300102.0  1873.68
201300103.0  2152.20
201300104.0  2152.20
201300105.0  1873.68

 --------------------------------------------------------------------------------

< DS1 >
 row count: 930850
 column count: 35
 Index(['mnum', 'idx', 'empkey', 'mth_pcnt', 'date', 'year', 'pay_raise', 'eg',
       'retdate', 'doh', 'ldate', 'lname', 'line', 'sg', 'fur', 'scale',
       's_lmonths', 'age', 'new_order', 'orig_job', 'func_job', 'jnum', 'fbff',
       'snum', 'spcnt', 'lnum', 'lspcnt', 'rank_in_job', 'job_count', 'jobp',
       'cat_order', 'mlong', 'ylong', 'mpay', 'cpay'],
      dtype='object')

           mnum  idx    empkey  mth_pcnt       date    year  pay_raise  eg  \
empkey
10011102     0    0  10011102       1.0 2013-12-31  2013.0        1.0   1
10010475     0    1  10010475       1.0 2013-12-31  2013.0        1.0   1
10013096     0    2  10013096       1.0 2013-12-31  2013.0        1.0   1
10012178     0    3  10012178       1.0 2013-12-31  2013.0        1.0   1
10014447     0    4  10014447       1.0 2013-12-31  2013.0        1.0   1

            retdate        doh   ...    lnum    lspcnt  rank_in_job  \
empkey                           ...
10011102 2014-07-13 1973-02-26   ...       1  0.000156            1
10010475 2014-02-05 1975-05-27   ...       2  0.000312            2
10013096 2014-01-08 1977-01-18   ...       3  0.000468            3
10012178 2016-06-07 1977-11-15   ...       4  0.000624            4
10014447 2016-10-17 1977-12-09   ...       5  0.000779            5

          job_count      jobp  cat_order  mlong      ylong     mpay     cpay
empkey
10011102        166  1.005024          1    468  39.000000  11.0415  11.0415
10010475        166  1.011048          2    464  38.666667  11.0415  11.0415
10013096        166  1.017072          3    444  37.000000  11.0415  11.0415
10012178        166  1.023096          4    434  36.166667  11.0415  11.0415
10014447        166  1.029120          5    433  36.083333  11.0415  11.0415

[5 rows x 35 columns]

 --------------------------------------------------------------------------------

< HYBRID >
 row count: 6415
 column count: 1
 Index(['idx'], dtype='object')

           idx
empkey
10011102    1
10010475    2
20010692    3
10013096    4
20011034    5

 --------------------------------------------------------------------------------

< SAMPLE3_FINAL >
 row count: 7510
 column count: 12
 Index(['empkey', 'eg', 'lname', 'dob', 'retdate', 'doh', 'ldate', 'sg', 'fur',
       'line', 'eg_order', 'snum'],
      dtype='object')

             empkey  eg    lname        dob    retdate        doh      ldate  \
empkey
10011102  10011102   1  tooeyoo 1949-07-13 2014-07-13 1973-02-26 1975-01-29
10010475  10010475   1  rubelot 1949-02-05 2014-02-05 1975-05-27 1975-05-27
10013096  10013096   1  yeloxid 1949-01-08 2014-01-08 1977-01-18 1977-01-18
10012178  10012178   1  xayeaue 1951-06-07 2016-06-07 1977-11-15 1977-11-15
10014447  10014447   1  finuceu 1951-10-17 2016-10-17 1977-12-09 1977-12-09

          sg  fur  line  eg_order  snum
empkey
10011102   0    0     1         1     1
10010475   0    0     1         2     2
10013096   0    0     1         3     3
10012178   0    0     1         4     4
10014447   0    0     1         5     5

 --------------------------------------------------------------------------------

CPU times: user 188 ms, sys: 112 ms, total: 300 ms
Wall time: 298 ms